.DS_Store
ELLog.xcodeproj/project.xcworkspace/xcshareddata
UserInterfaceState.xcuserstate
xcuserdata
build
DerivedData/*

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
